html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
}
img{
    max-width:100%;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}
a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
.clear {
    clear: both;
}
.navbar {
    border-radius: 0 !important;
    margin-bottom: 0;
}
.navbar-inverse {
    background: -webkit-linear-gradient(left,#137aa9,#23a9e6);
    background: linear-gradient(90deg,#137aa9 0,#23a9e6);
    border: none;
}
.navbar-inverse .navbar-nav>li:hover {
    background: #002533;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a#badget_cont {
    padding-right: 20px;
}
.navbar-inverse .navbar-nav>li>a span.badge {
    display: inline-block;
    font-size: 11px;
    border-radius: 13px;
    height: 20px;
    width: 18px;
    position: absolute;
    top: 6px;
    left: 24px;
    text-align: center;
    padding: 5px;
}

.navbar-inverse .navbar-nav>li>a span#green_badge {
    background-color: green;
}

.navbar-inverse .navbar-nav>li>a span#red_badge {
    background-color: red;
}


.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-brand {
    color: #fff;
    text-transform: uppercase;
}

#logo_piece {
    color: #4080bf;
    font-style: italic;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar #myNavbar .dropdown-user img {
    max-height: 30px;
    border-radius: 50%;
}
#main-sidebar .logged-container a img {
    max-height: 70px;
    border-radius: 50%;
}

.login-wrapper {
    height: 100vh;
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(80,195,224),rgb(4,82,164));
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

.search-form {
    padding: 10px;
    margin-left: 50px;
    transition: all 0.4s ease 0s;
    width: 310px;
}

#searchform-container:hover {
    background-color: #00394d;
}

.search-form .form-group {
    margin-bottom: 0;
}

.search-form .form-group .form-control {
    background-color: #00394d;
    border: none;
    font-size: 12px;
    webkit-box-shadow: none;
    box-shadow: none;
}

.search-form .form-group .form-control:focus {
    background-color: transparent;
    transition: all 0.4s ease 0s;
}

.search-form .input-group-addon {
    background: transparent;
    border: none;
    color: #fff;
}

#main-sidebar {
    position: absolute;
    left: 0;
    top: 50px;
    width: 180px;
    min-height: 612px;
    height: 100%;
    float: left;
    background-color: #002633;
    color: #555;
}

#main-sidebar #logged_in_user {
    padding: 18px;
    border-bottom: 1px solid #00394d;
}

#main-sidebar #logged_in_user .logged-container {
    text-align: center;
}

#main-sidebar #logged_in_user .logged-container a {
    padding: 2px 6px;
    text-align: center;
}

#main-sidebar #logged_in_user .logged-container .details {
    display: block;
    font-size: 12px;
    color: #fff;
    margin-top: 15px;
}

#main-sidebar .sidebar-list li a {
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px 20px;
    display: block;
    color: #ccc;
    border-bottom: 1px solid #00394d;
}

#main-sidebar .sidebar-list li a i {
    margin-right: 10px;
}

#main-sidebar .sidebar-list li a:hover {
    background-color: #004d66;
    color: #fff;
}

#main-sidebar .parent .sidebar-submenu li a {
    padding-left: 50px;
    text-transform: capitalize;
}

#main-sidebar .sidebar-list .submenu-arrow {
    float: right;
    padding-top: 3px;
}

.page_breadcrumb {
    padding: 10px 30px;
    background: #fff;
    border-bottom: 1px solid #ccccff;
}

.page_breadcrumb a {
    color: #666;
}

.page_breadcrumb a#add_project {
    color: #1da023;
}

#page_content {
    margin-left: 180px;
    padding: 0;
    min-height: 612px;
    height: 100%;
    position: relative;
    background: #e6e6ff;
}

#page_content .content {
    padding: 20px;
    min-height: 450px;
    margin-bottom: 25px;
}

.page-header-custom {
    border-radius: 2px;
    text-align: center;
    color: #666;
}

.page-header-custom h2 {
    font-size: 24px;
    margin: 20px 0;
}

.page-header-custom p {
    font-size: 11px;
}

.box-title {
    padding: 5px;
    font-weight: 600;
    font-size: 13px;
}

.box-content {
    padding: 20px 15px;
    border: 1px solid #ccccff;
    border-radius: 2px;
    background: #ffffff;
    margin-bottom: 15px;
}

footer#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    border: 1px solid #ccccff;
    background: #fff;
    color: #6a6c6f;
    font-size: 12px;
}

#create_user_btn {
    margin-bottom: 20px;
}

/* Buttons */

.btn {
    border-radius: 2px;
    font-size: 13px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
}

.btn:hover, .btn:focus, .btn:active {
    outline: none;
}

.btn-success {
    background-color: #009900;
    border-color: #009900;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
    background-color: #008000;
    border-color: #008000;
    outline: none;
}

.btn-danger {
    background-color: #e60000;
    border-color: #e60000;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    background-color: #cc0000;
    border-color: #cc0000;
}

/* Form */

.form-control {
    border-radius: 0;
    height: 30px;
    padding: 4px 8px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dataTables_wrapper .form-control {
    border-radius: 4px;
}