body{
    font-family: 'Raleway', sans-serif;
}
.logo-wrapper{
    display: inline-block;
    width: 250px;
    text-align: center;
}

.logo-wrapper a{
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    padding: 14px 0;
    display: block;
}
.navbar-right{
    margin:0;
    height: 60px;
}
.header-wrapper .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}
h1, .h1, h2, .h2, h3, .h3, h4 .h4, h5 .h5, h6 .h6{
    margin:0;
}
img{
    max-width:100%;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
a:hover, a:focus, a:active{
    text-decoration: none;
    outline: none;
}
ul{
    padding:0;
}

@media (min-width: 768px){
    .container {
        width: 500px;
    }
}
@media (min-width: 992px){
    .container {
        width: 720px;
    }
}
@media (min-width: 1200px){
    .container {
        width: calc(100vw - 270px);
    }
}


.login-wrapper {
    height: 100vh;
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(80,195,224),rgb(4,82,164));
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}


/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#inputEmail, #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}
textarea{
    resize: none;
}
input[type=email],
input[type=time],
 input[type=password],
 input[type=text],textarea,
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.radio, .checkbox{
    display: block;
    margin-top: 5px;
    margin-bottom: 0;
}
.radio label, .checkbox label{
    padding-right: 50px;
    padding-left: 0;
    font-weight: 600;
    letter-spacing: 0.5px;
    display: inline;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
    margin-left: 10px;
}
.bootstrap-select{
    width: 100% !important;
    margin-bottom:10px;
}
.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}
header{
    height: 60px;
}
.header-wrapper{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 20;
    background: -webkit-linear-gradient(left,#137aa9,#23a9e6);
    background: linear-gradient(90deg,#137aa9 0,#23a9e6);
    height:60px;
    overflow: hidden;
}

.sidebar-nav{
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 250px;
    background: #263238;
}
.navbar-default{
    background: transparent;
    border:0;
}
.navbar-collapse{
    padding:0;
}
.sidebar-nav .navbar-collapse > ul {
    float: none;
    display: block;
}
.navbar-nav > li > .dropdown-menu{
    width: 100%;
    border: 0;
    background: rgba(0,0,0,.1);
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    position: relative;
}
.sidebar-nav .navbar-collapse > ul >li {
    float: none;
    display: block;
}
.navbar-default .navbar-nav > li > a{
    padding: 15px 30px;
    min-height: 44px;
    font-weight: 500;
    color: rgba(255,255,255,.75);
    font-size: 18px;
    width: 100%;
    display: block;
    overflow: hidden;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > li > a:focus{
    background-color: rgba(0,0,0,.1) !important;
    color: #fff !important;
}
.navbar-default .dropdown-menu > li > a{
    padding: 5px 50px;
    color: rgba(255,255,255,.75);
    font-size: 16px;
}
.navbar-default .dropdown-menu > li > a{
    background-color: transparent;
    color: #ffff;
}
#content{
    padding: 0px 0px 0 250px;
    background: #F5FAFF;
    height: calc(100vh - 60px);
}
.page-header-custom{
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #d2dae3;
    margin-bottom: 20px;
}
.page-header-custom h3 {
    display: inline-block;
    font-weight: 500;
}
.box-container{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.05);
}
.form-header h2{
    font-size: 26px;
    color: #1199d3;
    text-transform: uppercase;
    margin: 10px 0 20px;
    font-weight: 700;
}
#datatable thead{
    background: #fff;
}
.appointment-label{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}